<h1>Events</h1>

<% @events.each do |event| %>
  <ul>
    <li><%= link_to event.name, event_path(event) %> (<%= event.location %>, starts on <%= event.start_date %>)</li>
  </ul>
<% end %>

<br />

<%= link_to 'New Event', new_event_path %>
