<ul class="breadcrumb">
  <li><a href="#">Events</a> <span class="divider">/</span></li>
</ul>

<h1>Events</h1>

<% @events.each do |event| %>
  <ul>
    <li><%= link_to event.name, event_path(event) %> (<%= event.location %>, starts on <%= event.start_date %>)</li>
  </ul>
<% end %>

<br />

<%= link_to 'New Event', new_event_path %>

<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>