// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#firepad {
  border: grey 1px solid;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.firepad-with-toolbar .CodeMirror {
  left: 5px;
  bottom: 5px;
}

.CodeMirror {
  height: 780px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 99%;
}

.firepad {
  min-height: 780px;
  background-color: #ddd; /* dark orange background */
}

.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}