// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#firepad {
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  opacity: 0;
}

.content-area {
  margin: 2em;
  padding: 1em;
}

.content-area .hero-unit {
  padding: 30px;
}

#firepad-container {
  border: 1px solid #c9c9c9;
  border-radius: 6px;
}

#readOnlyFirepad {
  margin: 2em;
}

#readOnlyFirepad:empty:before {
  content: "Click Edit to start taking notes";
  color: darkgray;
}

#edit_button {
  margin: 1em;
  float: right;
}

.firepad-with-toolbar .CodeMirror {
}

.CodeMirror {
  height: 780px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 1em;
  padding: 1em;
  left: 0 !important;
}

.firepad {
  min-height: 780px;
  background-color: #c9c9c9;
}

.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

// Firebase font sizes: 9, 10, 12, 14, 18, 24, 32, 42
#readOnlyFirepad font[size="9"] {
  font-size:9px;
}

#readOnlyFirepad font[size="10"] {
  font-size:10px;
}

#readOnlyFirepad font[size="12"] {
  font-size:12px;
}

#readOnlyFirepad font[size="14"] {
  font-size:14px;
}

#readOnlyFirepad font[size="18"] {
  font-size:18px;
}

#readOnlyFirepad font[size="24"] {
  font-size:24px;
}

#readOnlyFirepad font[size="32"] {
  font-size:32px;
}

#readOnlyFirepad font[size="42"] {
  font-size:42;
}

#readOnlyFirepad font[size="9"] {
  font-size:9;
}

